/*"style" tag, this is where each tag, class, and ID get their styles defined*/
html {
  padding: 0;
}

body {
  /*style for the "body" tag*/
  background-color: black;
  color: white;
  margin: 0;
}

.meetingBox {
  /*".meetingBox" is a class that defines the style anytime anything uses the meetingBox class*/
  flex: 1;
  height: 100%;
  width: 100%;
  /*border: 5px solid red;*/
}

.meetingTitle {
  /*".meetingTitle h1" applies these styles to everything inside of the "meetingTitle" class that is a "h1" tag*/
  color: purple;
}

.slotBox {
  /*"body.slotBox" is a class*/
  height: 100px;
  width: 100px;
  border: 5px solid green;
  display: inline-block;
}

.navbar {
  width:100%;
  position:fixed;
  background-color:lightblue;
  font-size:50px;
  padding:15px;
}